# Dependencies
backend/node_modules/
frontend/node_modules/
node_modules/

# Environment Variables
backend/.env
frontend/.env
.env

# Build outputs
frontend/dist/

# Uploads
backend/public/images/*
!backend/public/images/.gitkeep