MONGO_URI=mongodb+srv://username:password@cluster0.7qiklaj.mongodb.net/projmanage

PORT=8000
CORS_ORIGIN=*
# (("https://example.com, https://another.com"))

ACCESS_TOKEN_SECRET=test // shshould be long like tusharudemyislearning
ACCESS_TOKEN_EXPIRY=1d

REFRESH_TOKEN_SECRET=test
REFRESH_TOKEN_EXPIRY=10d

MAILTRAP_SMTP_HOST=sandbox.smtp.mailtrap.io
MAILTRAP_SMTP_PORT=2525
MAILTRAP_SMTP_USER=
MAILTRAP_SMTP_PASS=


FORGOT_PASSWORD_REDIRECT_URL=hhtp://localhost:3000/forgot-password

SERVER_URL=""

